html,
body
{
    width: 100%;
    height: 100%;
    background-color: #FF812D;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

/*Start Desktopformat*/
#Header
{
    box-shadow: 0 0 2px #0032FF;
    border-radius: 25px;
    width: 100%;
    height: 15%;
    float: left;
    background-color: #FF812D;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    overflow: hidden;
}

#Nav
{
    box-shadow: 0 0 2px #0032FF;
    border-radius: 25px 0px 0px 25px;
    width: 15%;
    height: 80%;
    float: left;
    background-color: #FF812D;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    overflow: auto;
}

#Index
{
    box-shadow: 0 0 2px #0032FF;
    border-radius: 0px;
    width: 70%;
    height: 80%;
    float: left;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    background-color: transparent;
    overflow: hidden;
    background-image: url(../Bilder/_Gears_lightgrey.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#Adds
{
    box-shadow: 0 0 2px #0032FF;
    border-radius: 0px 25px 25px 0px; 
    width: 15%;
    height: 80%;
    float: left;
    background-color: #FF812D;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    overflow: hidden;
	display: inline;
}

#Footer
{
    box-shadow: 0 0 2px #0032FF;
    border-radius: 25px;
    width: 100%;
    height: 5%;
    float: left;
    background-color: #FF812D;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    overflow: hidden;
	display: inline;
}
/*Ende Desktopformat*/

p
{
    font-family: Lucida Console;
    color: #0032FF;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

h1
{
    font-family: Lucida Console;
    color: #0032FF;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

h2
{
    font-family: Lucida Console;
    color: #0032FF;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

h3
{
    font-family: Lucida Console;
    color: #0032FF;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

h6
{
    font-family: Lucida Console;
    color: #0032FF;
    margin-top: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    text-align: center; 
}

legend
{
    font-family: Lucida Console;
    color: #0032FF;
}

table, th, td
{
    font-family: Lucida Console;
	color: #0032FF;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    border: 1px solid #0032FF;
    border-collapse: collapse;
    padding: 5px;
    border-spacing: 10px;
    text-align: left;
}

#p1
{
    font-family: Lucida Console;
    color: #0032FF;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

#p2
{
    font-family: Lucida Console;
    float: right;
    color: #0032FF;
    margin-top: 0%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

#p3
{
    font-family: Lucida Console;
    color: #0032FF;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

form
{
    font-family: Lucida Console;
    color: #0032FF;
}

input
{
    margin-bottom: 1%;
}

.textfeld
{
    width: 30%;
}

img
{
    max-width: 100%;
    max-height: 100%;
	color: #0032FF;
    font-family: Lucida Console;
}
a:link
{
	color: #0032FF;
}
a:visited
{
	color: #4B0082
}

#abmeldenbutton
{
	margin-top: 85%;
    float: right;
}

#anfahrt
{
	width: 95%;
    height: 92%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    text-align: center;
    overflow: auto;
}
#anfahrt_map
{
	margin-top: 9%;	
	float: left;
    position: relative;
    left: 30%;
	text-align: center;
	font-family: Lucida Console;
}

#waren
{
	/*display: flex;
    flex-flow: wrap;*/
	width: 95%;
	height: 92%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    text-align: center;
    overflow: auto;
}
.waren_item
{
	padding-top: 1%;
	flex-basis: 50%;
	flex-flow: wrap;
    table-layout: fixed;
	float: left;
	width: 47%;
	min-width: 47%;
	min-height: 30%;
	text-align: center;
	font-family: Lucida Console;
}
.waren_item:hover
{
	background-color: #00E5FF;
	border-color: #00E5FF;
}
.waren_bild
{
    position: relative;
    left: 30%;
	width: 30%;
    height: 60%;
    min-width:200px;
    min-height:200px;
}
.waren_text
{
	clear: left;
	text-align: center;
	font-family: Lucida Console;
	
}
#waren_seiten
{
	display: inline-block;
	clear: both;
	float: left;
    position: relative;
    left: 43%;
	text-align: center;
	font-family: Lucida Console;
	margin-top: 1%;
}
#kategorie
{
    width: 95%;
	height: 92%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    font-family: Lucida Console;
    overflow: auto;
}
#kategorie_div_liste
{
	float: left;
	width: 80%;
    position: relative;
    left: 10%;
}
#kategorie_liste
{
	list-style-type: none;
	width: auto;
}
#kategorie_liste li
{
	margin-bottom: 20px;
	height: 120px;
}
.kategorie_link
{
	height: 120px;
	width: 100%;
}
.kategorie_bild
{
	float: left;
}
.kategorie_p
{
	float: left;
	font-size: 25pt;
	margin-left: 10px;
}
#nav
{
	width: 95%;
	height: 92%;
    background-color: #FF812D;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    font-family: Lucida Console;
    text-align: left;
    font-size: 22px;
	position:relative;
}
#nav_button
{
	position: absolute;
	right: 20px;
	bottom: 20px;
}
#nav ul
{
	margin-bottom: 5px;
	list-style-type: none;
	padding-left: 15px;
}
#nav li
{
	margin-bottom:5px;	
}
#nav li:hover
{
	background-color: #00E5FF;
	border-color: #00E5FF;
}
#impressum
{
    width: 96%;
    height: 92%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    overflow: auto;
}

#footer
{
    width: 95%;
    height: 100%;
    background-color: #FF812D;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

#warenkorb
{
    width: 95%;
    height: 92%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    overflow: auto;
}
#warenkorb_warenliste
{
    width: 100%;
    height: 85%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}
#warenkorb_warenliste_liste
{
    width: 96% ;
}
#warenkorb_untererTeil
{
    width: 100%;
    height: 15%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}
#warenkorb_bestellButton
{
    margin-top: 0px;
    margin-left: 20px;
}
#warenkorb_löschenbutton
{
	margin-left: 20px;
	margin-top: 10px;
}

#bestellvorgang
{
    width: 95%;
    height: 92%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    overflow: auto;
}

#bestellvorgang_adresse
{
    width: 100%;
    height: 65%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;

}

#bestellvorgang_zahlungsart
{
    width: 100%;
    height: 25%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

#bestellvorgang_end_bestellung
{
    margin: 5px;
}

#haupt
{
    overflow: auto;
    height: 92%;
    width: 96%;
    margin: 0;
    padding: 2%;
}
#haupt_willkommen
{
    width: 100%;
    height: 15%;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
}
#haupt_gearshop
{
    width: 50%;
    height: auto;
    float: left;
    display: table;
    font-size: 70pt;
    font-family: Lucida Console;
    font-weight: bold;
    color: #0032FF;
    margin: 0;
    padding: 0;
}
#haupt_p_gearshop
{
    text-align: center;
    display: table-cell;
    margin: 0;
    padding: 0;

}
#haupt_div_bild
{
    width: auto;
    height: auto;
    float: left;
    margin: 0;
    padding: 0;
}
#haupt_bild
{
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
#haupt_links
{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}
.haupt_links_p
{
	font-family: Lucida Console;
    color: #0032FF;
    margin: 0%;
    padding: 0%;
}
/* kontakt */
#kontakt
{
    margin: 0%;
    padding: 2%;
    height: 92%;
    width: 95%;
    overflow: auto;
}
.kontakt_p
{
    text-align: center;
    padding-top: 10px;
}
#kontakt_text
{
    width: 50%;
    float: left;
}
#kontakt_bild
{
    width: 50%;
    float: left;
    min-width: 300px;
}
/* team */
#team
{
    margin: 0%;
    padding: 2%;
    height: 92%;
    width: 95%;
    overflow: auto;
}
.team_div
{
    float: left;
    width: 25%;
    height: 25%;
    min-width: 350px;
    min-height: 300px;
    margin-bottom: 20px;
}
.team_bild
{
	max-width: 100%;
    max-height: 70%;
	color: #0032FF;
	font-family: Lucida Console;
    margin-top: 20px;
}

#produkt
{
    margin: 0%;
    padding: 2%;
    height: 92%;
    width: 95%;
    overflow: auto;
}
#produkt_div_bild
{
    float: left;
    width: 30%;
    min-width: 250px;
}
#produkt_div_rechts
{
    float: left;
    width: 70%;
}
#produkt_warenkorb
{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
#produkt_name
{
	font-size: 25pt;
}
#produkt_preis
{
	font-size: 20pt;
}
#produkt_div_unten
{
    width: 100%;
    float: left;
	color: #0032FF;
}
/* aside */
#aside
{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
	overflow: hidden;
}

#anmeldung
{
    margin: 0%;
    padding: 2%;
    height: 92%;
    width: 95%;
    overflow: auto;
}

#anmeldung_anmeldung
{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 8%;
    width: 40%;
    height: 36%;
    float: left;
}

#anmeldung_email, #anmeldung_passwort
{
    width: 55%;
}

#anmeldung_registrierung
{
    margin-top: 5%;
    width: 40%;
    height: 36%;
    float: left;
    text-align: left;
    display: flex;
    align-items: center;
	font-family: Lucida Console;
    color: #0032FF;
}

#anmeldung_kontakt
{
    margin-top: 10%;
    width: 95%;
    float: left;
    text-align: center;
	font-family: Lucida Console;
    color: #0032FF;
}

#anmeldung_anmelden
{
    margin-top: 2%;
}

/* Registrierung */
#registrierung
{
    margin: 0%;
    padding: 2%;
    height: 92%;
    width: 96%;
    overflow: auto;
}
#registrierung_account
{
    width: 95%;
    margin-top: 1%;
    margin-left: 4%;
    float: left;
}
#registrierung_person
{
    width: 95%;
    margin-top: 2%;
    margin-left: 4%;
    float: left;
}
#registrierung_herr
{
    margin-top: 1%;
}
#registrierung_adresse
{
    width: 95%;
    margin-top: 2%;
    margin-left: 4%;
    float: left;
}
#registrierung_pflichtfeld
{
    margin-left: 4%;
    float: left;
}
#registrierung_registrieren
{
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 1%;
    float: right;
}

/* Kundenkonto */
#kundenkonto
{
    margin: 0%;
    padding: 2%;
    height: 92%;
    width: 96%;
    overflow: auto;
}
#kundenkonto_formular_adresse
{
    width: 95%;
    margin-top: 1%;
    margin-left: 4%;
    float: left;
}
#kundenkonto_formular_email
{
    width: 95%;
    margin-top: 2%;
    margin-left: 4%;
    float: left;
}
#kundenkonto_formular_passwort
{
    width: 95%;
    margin-top: 2%;
    margin-left: 4%;
    float: left;
}
#kundenkonto_formular_telefon
{
    width: 95%;
    margin-top: 2%;
    margin-left: 4%;
    padding-bottom: 1%;
    float: left;
}
#Aendern_adresse, #Aendern_email, #Aendern_passwort, #Aendern_telefon
{
    margin-top: 1%;
    margin-right: 2%;
    padding: 1%;
    float: right;
}

#header
{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
	position: relative;
}
#header_abmelden
{
	position: absolute;
	right: 20px;
	bottom: 20px;
}
#header_logo
{
    height: 100%;
    width: 7%;
    margin-left: 3%;
    float: left;
    border-radius: 25px;
}
#header_shopname
{
    width: 65%;
    height: 78%;
    padding-left: 25%;
    float: left;
    border-radius: 25px;
    font-size: xx-large;
    display: flex;
    align-items: center;
}
/* Personen*/
#person_putilov
{
    margin: 0%;
    padding: 2%;
    height: 92%;
    width: 95%;
    overflow: auto;
}
#person_putilov_bild
{
	width: 20%;
    min-width: 250px;
    height: 40%;
    float: left;
}
#person_paulmann
{
    margin: 0%;
    padding: 2%;
    height: 92%;
    width: 95%;
    overflow: auto;
}
#person_paulmann_bild
{
    width: 20%;
    min-width: 250px;
    height: 40%;
    float: left;
}
#person_paradies
{
    margin: 0%;
    padding: 2%;
    height: 92%;
    width: 95%;
    overflow: auto;
}
#person_paradies_bild
{
    width: 20%;
    min-width: 250px;
    height: 40%;
    float: left;
}
#person_lachmann
{
    margin: 0%;
    padding: 2%;
    height: 92%;
    width: 95%;
    overflow: auto;
}
#person_lachmann_bild
 {
    width: 20%;
    min-width: 250px;
    height: 40%;
    float: left;
}
#person_andy
{
	margin: 0%;
    padding: 2%;
    height: 92%;
    width: 95%;
    overflow: auto;
}
#person_andy_bild
{
	width: 20%;
    min-width: 250px;
    height: 40%;
    float: left;
}
#person_tootsie
{
	margin: 0%;
    padding: 2%;
    height: 92%;
    width: 95%;
    overflow: auto;
}
#person_tootsie_bild
{
	width: 20%;
    min-width: 250px;
    height: 40%;
    float: left;
}
#person_bild
{
	height: 100%;
	width: 100%;
	font-family: Comic Sans MS;
    color: #14a814;
}

/*Start Mobilformat*/
@media screen and (max-width: 768px)
{
#Header
{
    box-shadow: 0px 0px 0px #0032FF;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    height: 15%;
    float: left;
    background-color: #FF812D;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    overflow: hidden;
}
#Nav
{
    box-shadow: 0px 0px 0px #0032FF;
    border-radius: 0px 0px 0px 0px;
	width: 100%;
    height: 15%;
    float: left;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    overflow: auto;
}
#Index
{
	width: 100%;
    height: 80%;
    float: left;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    background-color: transparent;
    overflow: auto;
}
#Adds
{
	display: none;
}
#Footer
{
	display: none;
}
#nav_button
{
	display: none;
}
#haupt_div_bild
{
	display: none;
}
}
/*Ende Mobilformat*/